version: "3.9"

services:
  # ---------------------------------------------------
  # MONGO DATABASE
  # ---------------------------------------------------
  mongo:
    image: mongo:8
    container_name: kollabor8-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: superSecurePassword123!
    volumes:
      - ./data/mongo:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "localhost:27017",
          "--eval",
          "db.adminCommand('ping')",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  # ---------------------------------------------------
  # BACKEND API
  # ---------------------------------------------------
  keystone:
    container_name: kollabor8-keystone
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: development
      MONGO_URI: mongodb://admin:superSecurePassword123!@mongo:27017/kollabor8_seo?authSource=admin
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "3001:3001"
    networks:
      - kollabor8-network

  # ---------------------------------------------------
  # NGINX REVERSE PROXY
  # ---------------------------------------------------
  nginx:
    image: nginx:1.27
    container_name: kollabor8-nginx
    depends_on:
      keystone:
        condition: service_started
    ports:
      - "80:80"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - kollabor8-network

# -----------------------------------------------------
# NETWORK
# -----------------------------------------------------
networks:
  kollabor8-network:
    name: kollabor8-network
